@import "tailwindcss";

:root {
	--background: #dcd9d2;
	--foreground: #161a1b;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Open Sans Condensed", sans-serif;
}

@layer base {
	html {
		font-family: "Open Sans Condensed", sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Anton", sans-serif;
	}
}




